html,
body {
  height: 100%;
  margin: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

#settings_content,
#menuContainer,
#pregame,
#gameover {
  margin-left: -950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#settings_content {
  background-color: rgba(15, 15, 15, 0.95);
  border: 3px solid rgb(255, 109, 0);
  color: white;
  font-family: "ARCADE_I";
  font-size: 22px;
  
}

#settingpanel, #howtopanel {
  background-color: rgba(30, 30, 30, 0.9);
  margin: 0;
  width: 900px;
  font-size: 18px;
  border-radius: 2px;
}

.navigation {
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 2px;
}

.navigation:hover {
  transform: scale(1.03);
}

.caption-text {
  font-size: 10px;
  color: rgba(200, 200, 200);
  opacity: 0.6;
  line-height: 1.4;
  margin-top: 5px;
}

