html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

#settings_content,
#menuContainer,
#pregame,
#gameover {
  margin-left: -900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#settings_content,
#settingpanel {
  color: white;
  font-size: 25px;
  font-family: "ARCADE_I";
}

#settingpanel,
#howtopanel {
  color: white;
  font-size: 18px;
  font-family: "ARCADE_I";
}
